

/* Header */

#header{
  background: black;
}

#logo-header{
  display: flex;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
}

.frase-logo{
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
/* Fin Header */

/* Hero */

.hero-image{
  object-fit: cover;
  display: block;
  margin: auto;
}

.presentacion{
  text-align: center;
  font-size: 30px;
  font-family: 'Arial';
}

/* Fin Hero */


/* Projects */

.projects-title{
  font-family: 'Fjalla One';
}

.project-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.badges{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-button{
  display: flex;
  justify-content: center;
}

.card{
  border-radius: 30px;
}

/* Fin Projects */




/* Footer */
.contact-social{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.image-social{
  width: 50px;
  height: 50px;
}

.contact{
  background: black;
}


.contact .nombre strong{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Fjalla One';
  color: white;
}

.contact .correo{
  font-size: 20px;
  font-family: 'Fjalla One';
  color: white;
}


.contact .contact-logo{
  display: flex;
  justify-content: center;
}

.contact .row{
  align-items: center;
}

/* Fin Footer */
